{% extends 'base.html.twig' %}
{% block title %}
    A propos de l'entreprise
{% endblock %}

{% block body %}

<main class="MainAboutCompany">

    <div class="about-compagny">
    <h1 class="aboutUsCompagnyTitle">Histoire de l'entreprise</h1>
    <p>L'entreprise est née de la volonté d'aider les candidats en recherche d'emploi et les entreprises en quête de nouveaux collaborateurs à créer des opportunités de collaboration innovantes et fructueuses. Depuis notre création, nous nous sommes engagés à faciliter la rencontre entre les talents exceptionnels et les entreprises dynamiques, créant ainsi un écosystème professionnel où chacun peut s'épanouir.

        Notre passion pour l'emploi et le développement des compétences nous a poussés à repousser les limites de la traditionnelle recherche d'emploi. Nous croyons en la puissance des connexions humaines et en l'importance de trouver la meilleure adéquation entre les aspirations des individus et les besoins des entreprises.

        Rejoignez-nous dans cette aventure passionnante où l'innovation et la collaboration sont au cœur de notre mission. En tant que membre de notre communauté, vous bénéficierez d'un accompagnement personnalisé tout au long de votre parcours professionnel, que vous soyez candidat en quête de nouvelles opportunités ou entreprise à la recherche de talents exceptionnels.

        Ensemble, construisons un avenir où chaque personne trouve sa place idéale, où chaque entreprise découvre le talent qui la propulsera vers de nouveaux sommets. Rejoignez-nous et contribuez à façonner le monde du travail de demain.</p>
    <p>Rejoingnez-nous !</p>
        <img src="{{ asset('build/images/company_about.svg') }}" alt="entreprise dessin" style="width:20%; border-radius:20%; padding: 20px">
    </div>
    </main>
{% endblock %}
