<nav>
<div class="nav">
    <img class="logo-nav" src="{{ asset('build/images/logo_white_fond_transparent_horizontal.png') }}">
    <div class="links">
        <a>Candidat</a>
        <a>Entreprise</a>
    </div>
</div>
</nav>
