<nav>
<div class="nav">
    <img class="logo-nav" src="{{ asset('build/images/logo_white_fond_transparent_horizontal.png') }}">
    <div class="links">
        <a>Candidat</a>
        <a>Entreprise</a>
    </div>
</div>
</nav>

{#{% extends 'base.html.twig' %}#}
{#{% if app.user %}#}

{#    {{ app.user.email }}#}

{#    <a href="{{ path('app_logout') }}"> Se déconnecter</a>#}

{#{% else %}#}

{#    <a href="{{ path('app_login') }}"> Se connecter</a>#}

{#{% endif %}#}
