<form method="post" action="{{ path('app_job_delete', {'id': job.id}) }}" onsubmit="return confirm('Est-ce que vous êtes certain de vouloir supprimer cette annonce?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ job.id) }}">
    <button  class="btn btn-danger mt-3">Supprimez votre annonce</button>
</form>
