{% extends 'base.html.twig' %}

{% block title %}Creation d'une nouvelle offre d'emploi{% endblock %}

{% block body %}
    <div class="grid-container">
        <div class="grid-child-image">
            <h1>Ajouter une nouvelle offre d'emploi</h1>
            <img src="{{ asset('build/images/jobWoman.svg') }}" alt="business woman"/>
        </div>

        <div class="grid-child-form">

    {{ include('job/_form.html.twig') }}
    <div class="jobButtons">
        <a class="connection" href="{{ path('app_job_index') }}">Retour à mes offres d'emploi</a>
        </div>
    </div>
</div>



{% endblock %}
