
<footer class="base_footer">
    <div class="footer-top">
        <img class="logo-footer" src="{{ asset('build/images/logo_white_fond_transparent 2.png') }}">
        <div class="footer-col">
            <h3 class="title-footer">Notre Entreprise</h3>
            <a href="{{ path('app_about') }}">A propos</a>
            <a href="{{ path('app_aboutCompagny') }}">Histoire de l'entreprise</a>
        </div>
        <div class="footer-col">
            <h3 class="title-footer">Nos partenaires</h3>
            <a href="https://www.canva.com/">Canva</a>
            <a href="https://www.pole-emploi.fr/accueil/">Pole Emploi | France Travail</a>
        </div>
        <div class="footer-col">
            <h3 class="title-footer">Les emplois</h3>
            <a href="#">Récents</a>
            <a href="#">Favoris</a>
        </div>
    </div>
    <div class="footer-bottom">
        <a href="#" class="social">
            <ion-icon name="logo-facebook"></ion-icon>
        </a>
        <a href="#" class="social">
            <ion-icon name="logo-instagram"></ion-icon>
        </a>
        <a href="#" class="social">
            <ion-icon name="logo-twitter"></ion-icon>
        </a>
    </div>
</footer>

<script
    type="module"
    src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
></script>
<script
    nomodule
    src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
></script>

