
label[for='status_form_status_0'] {
    background-color: var(--dominant);
    color: grey;
    border-color: var(--contrast);
    border-style: solid;
    border-radius: 0.5rem;
    padding: 0.6rem;
    margin-top: 1.5rem;
    margin-right: 1rem;
    font-size: 1.5rem;
    &:hover {
        color: var(--dominant);
        background-color: var(--secondary-color);
    }
    &:active {
        color: var(--dominant);
        background-color: var(--secondary-color);
    }
}

label[for='status_form_status_1'] {
    background-color: var(--dominant);
    color: grey;
    border-color: var(--contrast);
    border-style: solid;
    border-radius: 0.5rem;
    padding: 0.6rem;
    margin-top: 1.5rem;
    margin-right: 1rem;
    font-size: 1.5rem;
    &:hover {
        color: var(--dominant);
        background-color: var(--secondary-color);
    }
    &:active {
        color: var(--dominant);
        background-color: var(--secondary-color);
    }
}

label[for='status_form_status_2'] {
    background-color: var(--dominant);
    color: grey;
    border-color: var(--contrast);
    border-style: solid;
    border-radius: 0.5rem;
    padding: 0.6rem;
    margin-top: 1.5rem;
    margin-right: 1rem;
    font-size: 1.5rem;
    &:hover {
        color: var(--dominant);
        background-color: var(--secondary-color);
    }
    &:active {
        color: var(--dominant);
        background-color: var(--secondary-color);
    }
}

.submit_decision {

   /* margin-top: 3rem; */
    display: flex;
    justify-content: center;
}

.applicantName {
    color: var(--primary-color);
}

.statusForm {
    display:flex;
    justify-content: center;
   margin-bottom: 2rem;
  margin-top: 2rem;
}

.make_decision {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
}

.status {
    border-color: var(--secondary-color);
    border-style: solid;
    border-radius: 0.5rem;
  padding: 0.5rem;

}

img[src*="team"] {
    height: 400px;
}

.jobApp {
    margin-left: 1.5rem;

}

.decide {
    margin-bottom: 1.5rem;
    margin-top: 1rem;
    margin-left: 1.2rem;

}


    .decision_btn {
        background-color: var(--primary-color);
        color: var(--dominant);
        border: none;
        border-radius: 25px;
        margin-top: 1.2rem;
        margin-bottom: 2rem;
        width: 80%;
        margin-left: 1rem;
        padding: 8px 15px;
        text-align: center;
        &:hover {
            color: var(--dominant);
            background-color: var(--contrast);
        }
        &:active {
            color: var(--dominant);
            background-color: var(--contrast);
        }

}


@media screen and (max-width: 768px) {
    label[for='status_form_status_0'] {
        padding: 0.3rem;
    }

    label[for='status_form_status_1'] {
        padding: 0.3rem;
    }

    label[for='status_form_status_2'] {
        padding: 0.3rem;
    }

    img[src*="team"] {
        height: 200px;
    }
}


