img[src*="favorite"] {
    height: 400px;
}

.favoriteJobs {
    border: 1px solid var(--border-color);
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: 1rem;
}

.favoriteTitle {
    font-size: 1.2rem;
    color: var(--primary-color);
}

.seeOffer {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.jobAddress {
    font-weight: bold;
}

.favoriteAvatar {
    display: flex;
    justify-content: center;
}

.jobSalary {
    color: var(--primary-color);
}


img[src*="pull"] {
    height: 400px;
}



@media screen and (max-width: 768px) {


    img[src*="favorite"] {
        display: flex;
        height: 200px;

    }

    img[src*="pull"] {
        height: 200px;


    }
}
