@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');

/* Styles communs pour mobile et desktop */
.company-footer {
    text-align: center;
    font-family: 'Jost Variable', sans-serif;
    //position: fixed;
    margin-top: 5rem;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    color: rgba(9, 9, 9, 0.94);
    padding: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    box-sizing: border-box;
    align-items: center;
    border-top: 1px solid #cccccc;
}

/*.company-footer-col a {
    color: #FFFFFF;
    text-decoration: none;
}*/


.company-footer-col {
    .company_footer_link, .company_footer_link:visited, .company_footer_link:active {
        text-decoration: none;
        color: inherit;
        transition: all 0.2s ease;

        &:hover {
            color: #842342;
        }
    }

    .company-footer-bottom .company-social {
        color: #FFFFFF;
        transition: all 0.2s ease;

        &:hover {
            color: #842342;
        }
    }
}

/* Version mobile : largeur d'écran de 660px maximum */
@media screen and (max-width: 660px) {
    .company-footer .company-footer-top {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .company-footer .company-footer-col {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;

        > .company-title-footer {
            font-size: 15px;
            text-align: center;
            margin-bottom: 5px;
        }

        .company_footer_link {
            font-size: 12px;
            text-align: center;
            margin-bottom: 5px;
        }
    }

    .company-footer .company-logo-footer {
        display: none;
    }

    .company-footer .company-footer-bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .company-footer .company-social {
        text-decoration: none;
    }
}

/* Ecrans d'une largeur minimale de 661 pixels */
@media screen and (min-width: 661px) {
    .company-footer .company-footer-top {
        display: flex;
        gap: 100px;
        align-items: center;
        margin-left: 100px;
    }

    .company-logo-footer  {
        display: block;
        margin-right: 20px;
        width: 20vh;
    }

    .company-footer .company-footer-col {
        width: max-content;
        display: flex;
        flex-direction: column;
    }

    .company-footer .company-footer-col > * {
        margin-bottom: 10px;
    }

    .company_footer_link {
        padding: 5px 0;
        font-size: 14px;
    }

    .company-footer .company-footer-bottom {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-left: auto;
    }

    .company-footer .company-social {
        display: flex;
        justify-content: center;
        color:  #FFFFFF;
        transition: all 0.2s ease;
        text-decoration: none;
        width: 2rem;
        margin-left: 8px;

        &:hover {
            color: #842342;
        }
    }
}
