@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');

/* Styles communs pour mobile et desktop */
.base_footer {
    text-align: center;
    font-family: 'Jost Variable', sans-serif;
    margin-top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    position: relative;
    background-color: #000000;
    color: #ffffff;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    box-sizing: border-box;
    align-items: center;
}

.footer-col a {
    color: #FFFFFF;
    text-decoration: none;
}

.footer-col {
    a, a:visited, a:active {
        text-decoration: none;
        color: inherit;
        transition: all 0.2s ease;

        &:hover {
            color: #842342;
        }
    }

    .footer-bottom .social {
        color: #FFFFFF;
        transition: all 0.2s ease;

        &:hover {
            color: #842342;
        }
    }
}

/* Version mobile : largeur d'écran de 660px maximum */
@media screen and (max-width: 660px) {
    .base_footer .footer-top {
        display: flex;
        //flex-direction: column;
        align-items: center;
    }

    .base_footer .footer-col {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;

        > .title-footer {
            font-size: 15px;
            text-align: center;
            margin-bottom: 5px;
        }

        a.site-footer {
            font-size: 12px;
            text-align: center;
            margin-bottom: 5px;
        }
    }

    .base_footer .logo-footer {
        display: none;
    }

    .base_footer .footer-bottom {
        display: flex;
        //flex-direction: column;
        align-items: center;
    }

    .base_footer .social {
        display: flex;
        align-items: center;
        color: #FFFFFF;
        transition: all 0.2s ease;
        text-decoration: none;
        width: 2rem;
        margin-left: 8px;

        &:hover {
            color: #842342;
        }
    }

    .footer-bottom > a {
        display:flex;
        justify-content: center;
    }

}

/* Ecrans d'une largeur minimale de 661 pixels */
@media screen and (min-width: 661px) {

    .Team {
        text-decoration: none;
    }

    .base_footer .footer-top {
        display: flex;
        gap: 100px;
        align-items: center;
    }

    .base_footer .logo-footer {
        display: block;
    }

    .base_footer .footer-col {
        width: max-content;
        display: flex;
        flex-direction: column;
    }

    .base_footer .footer-col > * {
        margin-bottom: 10px;
    }

    .base_footer a.site-footer {
        padding: 5px 0;
        font-size: 14px;
    }

    .base_footer .footer-bottom {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-left: 5rem;
    }

    .base_footer .social {
        display: flex;
        align-items: center;
        color: #FFFFFF;
        transition: all 0.2s ease;
        text-decoration: none;
        width: 2rem;
        margin-left: 8px;

        &:hover {
            color: #842342;
        }
    }

    .footer-bottom > a {
        display:flex;
        justify-content: center;
    }
}
