.containerHomePage {
    margin: 3rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 1rem; /*marge à l'intérieur de la bordure */
}

.containerHomePageTitle {
    order: 2; /* ordre pour afficher le titre après l'image */
    text-align: center;
}

.hiddenMobileTitle {
    display: none;
}
.containerHomePageImg {
    order: 1; /* ordre pour afficher l'image en premier */
}

.homePageImg {
    width: 90%;
}

.d-block{
    margin-bottom: 5rem;
    width: 50%;
    height: auto;
}

.card{
    align-items:center;
    margin: 2rem 5rem;
    --bs-border-width:0;
}

.card >img{
    width: 70%;
}

.btn-primary{
    --bs-btn-bg: var(--primary-color) !important;
    --bs-btn-hover-bg : var(--contrast) !important;
}

/* pour les écrans de 661px et plus */
@media only screen and (min-width: 661px) {
    .containerHomePage {
        margin: 2rem 1rem;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-items: center;
        padding: 20px; /*marge à l'intérieur de la bordure */
    }

    .containerHomePageTitle {
        margin-right: 20px;
    }

    .homePageTitle {
        font-size: var(--h1-font-size);
        margin: 0;
    }

    .hiddenMobileTitle {
        display: block; /* Affiche le titre h2 sur les écrans plus larges */
        font-size: var(--h2-font-size);
    }
    .d-block {
        margin-bottom: 8rem;
    }
}
