img[src*="connection"] {
    height: 400px;
}


img[src*="business"] {
    display: none;

}

img[src*="unlock"] {
    height: 400px;
}

img[src*="signup"] {
    height: 400px;
}

img[src*="balloons"] {
    height: 400px;
}

img[src*="reading"] {
    height: 400px;
}

.connection {
text-decoration: none;
    background-color: var(--contrast);
    color: var(--dominant);
    border: none;
    margin-top: 2rem;
    border-radius: 25px;
    padding: 8px 15px;
    font-size: 1rem;
    text-align: center;
    &:hover {
        color: var(--dominant);
        background-color: var(--primary-color);
    }
    &:active {
        color: var(--dominant);
        background-color: var(--primary-color);
    }

}

.connection-div {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.not_registered {
    font-size: 1.2rem;
    text-align: center;
}

.connection_link {
    display: flex;
    justify-content: start;
}

.signUp {
    margin-top: 1.5rem;
}

.reset {
   margin-bottom: 1.5rem;
}

img[src*="loginF"] {
    height: 200px;
}

.reset_div {
    margin-top: 2rem;
}

.clickLink {
    text-decoration: none;
    color: var(--primary-color);
    &:hover {
        color: var(--contrast);
    }
    &:active {
        color: var(--contrast);
    }
}


@media screen and (max-width: 768px) {
    img[src*="connection"] {
        display: none;
    }


    img[src*="business"] {
        display: flex;
        height: 200px;

    }

    .connection-div {
        margin-left: 1.5rem;

    }

    img[src*="unlock"] {
        height: 200px;
        justify-content: center;
    }

    .connection_link {
        display: flex;
        justify-content: center;
    }

    button[type="submit"] {
        width: 100%;
    }

    img[src*="signup"] {
        height: 200px;
    }

    img[src*="balloons"] {
        height: 200px;
    }

    img[src*="reading"] {
        height: 200px;
    }


}

