img[src*="connection"] {
    height: 400px;
}


img[src*="business"] {
    display: none;

}

img[src*="unlock"] {
    height: 400px;
}

.connection {
text-decoration: none;
    background-color: var(--contrast);
    color: var(--dominant);
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-size: 1rem;
    margin-top: 3rem;

}

.connection-div {
    margin-top: 3rem;

}


@media screen and (max-width: 768px) {
    img[src*="connection"] {
        display: none;
    }


    img[src*="business"] {
        display: flex;
        height: 200px;

    }

    .connection-div {
        margin-left: 1.5rem;

    }


}

