.nav-links {
    margin-left: 0;
    margin-bottom: 2rem;
    width: 100%;
    height: 100px;
    background-color: black;
    //position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav-links > .logo-nav {
    width: 30%;
    padding-left: 20px;
}

li > a {
    display: block;
    padding: 20px;
    line-height: 22px;
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Jost Variable', sans-serif;
    font-size:16px;
}

.Menu-deroulant {
    display: flex;
    margin: 0 auto;
    width: 30vh;
    margin-right: 10rem;
}

.Menu-deroulant  > a {
    display: flex;
    //justify-content: flex-end;
    //align-items: center;
    align-items: flex-end;
    text-align: center;
    color: #FFFFFF;
    font-family: 'Jost Variable', sans-serif;
    gap: 40px;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 20px;
    --b: 0.2em;
    --c: #842342;

    padding-block: var(--b);
    background:
        linear-gradient(var(--c) 50%,#000 0) 0% calc(100% - var(--_p,0%))/100% 200%,
        linear-gradient(var(--c) 0 0) 0% var(--_p,0%)/var(--_p,0%) var(--b) no-repeat;
    -webkit-background-clip: text,padding-box;
    background-clip: text,padding-box;
    transition: .3s var(--_s,0s) linear,background-size .3s calc(.3s - var(--_s,0s));
}

.Menu-deroulant  > a:hover {
    --_p: 100%;
    --_s: .3s;
    color : #851342;
}

li {
    list-style-type : none;
    display: inline-block;
    vertical-align: center;
    position : relative;
}

li > a {
    display: none;
    position: absolute;
}

/* ul {
    width: 100%;
    height: 40px;
    color: #FFFFFF;
    background-color : #851342;
    border-radius : 3px;

} */

@media screen and (min-width: 660px) {
    .logo-nav {
        width: 8%;
        max-width: 150px;
        padding-left: 20px;
    }
}
