.grid-container-profile {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 4rem;
    margin-left: 4rem;
    margin-right: 4rem;
    justify-items: center;
}

img[src*="coffee"] {
    height: 400px;
}


img[src*="designer"] {
    display: none;

}

.avatar {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.company_avatar {
    height: 100%;
    width: 100%;
}

img[src*="female_avatar"] {
    height: 200px;
}

img[src*="male_avatar"] {
    height: 200px;
}

.profile-icon {
    text-decoration: none;
    color: var(--contrast);
    &:hover {
        color: #842342;
    }
    width: 2rem;
    font-size: 32px;

}


.user_email {
    display: grid;
    grid-template-columns: 1fr 2fr;

}

/*.edit_btns  {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px; */



@media screen and (max-width: 768px) {
    img[src*="coffee_with_friends"] {
        display: none;
    }


    img[src*="designer"] {
        display: flex;
        height: 200px;

    }
    .grid-container-profile {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;

    }

    .edit_btns {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 5px;

    }

}
