
h1 {
    margin-bottom: 1.5rem;
}

.label {
    border: none;
    color: var(--contrast);
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

.placeholder {

    color: grey;
    border: none;
    height: 2rem;
    margin-top: 1rem;
    font-size: 1.2rem;

}


.form-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

hr {
    color: lightgrey;
    margin-bottom: 1.5rem;
    width: 80%;
}


.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 4rem;
}

.grid-child-text {
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.grid-child-form {
   margin-top: 4rem;
}

/* src*=  means "begins with" */
img[src*="people"] {
    height: 400px;
}


img[src*="programmer"] {
    display: none;

}

@media screen and (max-width: 768px) {
    img[src*="people"] {
        display: none;
    }


    img[src*="programmer"] {
        display: flex;
        height: 200px;

    }

    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .grid-child-form {
        margin-top: 2rem;
    }

    hr {
        width: 100%;
    }

    .btn {
        width: 100%;
    }

}














