<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ asset('build/app.css') }}"/>
    <title>
        {% block title %}Externatic{% endblock %}
    </title>
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}

    {% endblock %}

    {% block javascripts %}

    {% endblock %}
</head>
<body>
<header>
    {% include 'includes/company_nav.twig' %}
</header>
<main>
    {% block body %}

    {% endblock %}
</main>
<footer>
<<<<<<< HEAD:templates/company.html.twig
    {% include 'includes/company_footer.html.twig' %}
=======
    {% include 'home/footerCompany.html.twig' %}
>>>>>>> dev:templates/base_company.html.twig
</footer>
</body>
</html>
