{% extends 'base.html.twig' %}

{% block title %}Liste des candidatures{% endblock %}

{% block body %}
    <h1>Liste des candidatures</h1>

    {% if applications is not empty %}
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Job</th>
                <th>Message</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            {% for application in applications %}
                <tr>
                    <td>{{ application.id }}</td>
                    <td>{{ application.job.title }}</td>
                    <td>{{ application.message }}</td>
                    <td>{{ application.status }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Aucune candidature trouvée.</p>
    {% endif %}
{% endblock %}
