{% if app.user %}
    <div{{ attributes }}>
        <button
            data-controller="Likelist"
            data-action="live#action"
            data-action-name="prevent|toggle"
        >
            {% if app.user.likelist.contains(job) %}
                <i class="bi bi-heart-fill"></i> Retirer des favoris
            {% else %}
                <i class="bi bi-heart"></i> Ajouter aux favoris
            {% endif %}
        </button>
    </div>
{% endif %}
