{% extends 'base.html.twig' %}

{% block body %}

<div class="grid-container">
    <div class="grid-child-image">
        <h1>Page non trouvée</h1>
        <img src="{{ asset('build/images/404.svg') }}" alt="error 404"/>
    </div>
    <div class="grid-child-form">
        <div class="submit_decision">
         <a  class="decision_btn" href="{{ path('app_home') }}">retourner à la page d'accueil</a>
    </div>
    </div>
{% endblock %}
